@model IEnumerable<ClubeDoCarro.Areas.Proprietario.Models.Veiculo>
@{
    ViewBag.Title = "Pesquisa de veículos";
}

<h2>Pesquisa de veículos</h2>

<p>
    @Html.ActionLink("Novo Veículo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combustivel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustivel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.VeiculoID }) |
            @Html.ActionLink("Detalhar", "Details", new { id = item.VeiculoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.VeiculoID }) |
            @if (item.DisponivelVenda)
            {
                @Html.ActionLink("Cancelar Venda", "DisponibilizaVenda", new { id = item.VeiculoID }, new { onclick = "return confirm ('Deseja realmente cancelar venda?')" })
            }
            else
            {
                @Html.ActionLink("Disponibilizar Venda", "DisponibilizaVenda", new { id = item.VeiculoID }, new { onclick = "return confirm ('Deseja realmente disponibilizar para venda?')" })
            }

        </td>
    </tr>
    }

</table>
